.slick-prev:before {
  font-size: 50px; /* 아이콘의 크기를 조정 */
  color: black; /* 아이콘 색상을 검정으로 설정 */
  opacity: 1; /* 불투명도 설정 */
  visibility: visible; /* 가시성 설정 */
  content: '〈'; /* 커스텀 화살표로 대체할 경우 */
}

.slick-next:before {
  font-size: 50px; /* 아이콘의 크기를 조정 */
  color: black; /* 아이콘 색상을 검정으로 설정 */
  opacity: 1; /* 불투명도 설정 */
  visibility: visible; /* 가시성 설정 */
  content: '〉'; /* 커스텀 화살표로 대체할 경우 */
}
